@import "tailwindcss";

@source "../views/**/*.blade.php";
@source "../js/**/*.js";

:root {
    font-family: Inter, ui-sans-serif, system-ui, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}